node_modules/
dist/
public/react/
data/*.json
data.json
public/uploads/*.jpg
public/uploads/*.jpeg
public/uploads/*.png
public/uploads/*.gif
!public/uploads/.gitkeep
*.log
.env

# SQLite database
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal
